# Server Configuration
PORT=3006
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_USER=root
DB_PASS=
DB_NAME=custom_dining_db
DB_DIALECT=mysql

# JWT Configuration
JWT_SECRET=f82ac13979e61194a184eec781f09aef5dd763db1ea596112ebffbefaef43afa5e79e6ae9db79d4526b5849a25614d58f264d69350936fcff3bf06c2bb6f75e5
JWT_EXPIRATION=24h
